fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
aiofiles
pydantic
langchain
langchain-community
PyMuPDF
motor
openai
cohere
qdrant-client
SQLAlchemy
asyncpg
alembic
psycopg2-binary
pgvector
nltk
prometheus-client
starlette-exporter
fastapi-health

celery
redis
kombu
billiard
vine
flower